SUPABASE_URL=https://qbperrzlajqnljzypisd.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFicGVycnpsYWpxbmxqenlwaXNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzMTg2MDYsImV4cCI6MjEwMDg5NDYwNn0.MHwS_CJFON3TU7na-1VwbjgJCwByppj-09N3QreFbh8
PORT=3000
NODE_ENV=development